@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.page-title {
  font-family: 'Nunito', sans-serif;
  margin-left: 20px;
  color:rgb(80, 80, 71);
  font-size: 40px;
  font-style: oblique;
}

.products-title {
  font-family: 'Nunito', sans-serif;
  margin-left: 20px;
  color:rgb(27, 27, 25);
  font-size: 35px;
}

.categories-title {
  font-family: 'Nunito', sans-serif;
  margin-left: 20px;
  color:rgb(27, 27, 25);
  font-size: 27px;
}

.products-list-background {
    background-color: rgba(22, 13, 33, 0.35);
    padding: 16px;
    height: 620px;
    width: 85%;
    margin: 0 auto;
    border-radius: 12px;
}

